<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @startup.name %>
</p>

<p>
  <b> Owner: </b>
  <% if @startup.user %>
      <p><%= @startup.user.full_name %></p>     
  <% end %>
</p>

<p>
  <b> Team: </b>
  <% if @startup.team %>
    <% for user in @startup.team.users %>
      <p><%= user.full_name %></p>     
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_startup_path(@startup) %> |
<%= link_to 'Back', startups_path %>
