<p id="notice"><%= notice %></p>

<h3>Name:</h3>
<%= @startup.name %>

<h3> Owner: </h3>
<% if @startup.user %>
  <p><%= @startup.user.full_name %></p>     
<% end %>

<h3> Team: </h3>
<% if @startup.team %>
  <% for user in @startup.team.users %>
    <p><%= user.full_name %></p>     
  <% end %>
<% end %>

<% if @owner.id == current_user.id %>
	<%= link_to 'Edit', edit_startup_path(@startup) %> |
<% end %>
<%= link_to 'Back', startups_path %>
