<p id="notice"><%= notice %></p>
<h2><%= @user.possessive_name %> Profile</h2>

<%= link_to 'Edit Profile', edit_user_path(@user) %>

<p>
  <h4>Email:</h4>
  <%= @user.email %>
</p>

<p>
  <h4>First name:</h4>
  <%= @user.first_name %>
</p>

<p>
  <h4>Last name:</h4>
  <%= @user.last_name %>
</p>

<p>
  <h4>Full name:</h4>
  <%= @user.full_name %>
</p>
