<p id="notice"><%= notice %></p>
<h2><%= @user.possessive_name %> Profile</h2>

<% if current_user == @user %>
	<p>
		<%= link_to 'Edit Profile', edit_user_path(current_user) %>
	</p>
<% end %>

<div class="clearfix">
	<div class='user-box clearfix'>
		<%= gravatar_for @user %>
		<span class='name'><%= @user.full_name %></span>
 	</div>
</div>
<div class='clearfix'>
	<% unless @user.programs.size == 0 %>
	  <div>
		<h4>Program(s):</h4>
		<% for p in @user.programs %>
		  <p><%= p.name %></p>
		<% end %>
	  </div>
	<% end %>
	 
	<% unless @user.majors.size == 0 %>
	   <div>
	   <h4>Major(s):</h4>
		<% for m in @user.majors %>
		  <p><%= m.name %></p>
		<% end %>
	  </div>
	<% end %>

	<% unless @user.minors.size == 0 %>
	  <div>
		<h4>Minor(s):</h4>
		<% for m in @user.minors %>
		  <p><%= m.name %></p>
		<% end %>
	  </div>
	<% end %>

	<% if @user.user_type %>
	  <div>
	   <h4>Primary Role</h4>
		 <p><%= @user.user_type.name %></p>
	  </div>
	<% end %>

	<% unless @user.skill_list.size == 0 %>
	  <div>
	   <h4>Skills:</h4>
	   <% for s in @user.skill_list %>
		 <p><%= s %></p>
	   <% end %>
	  </div>
	<% end %>

	<% unless @user.interest_list.size == 0 %>
	  <div>
	   <h4>Interests:</h4>
	   <% for i in @user.interest_list %>
		 <p><%= i %></p>
	   <% end %>
	  </div>
	<% end %>
</div>
