<p id="notice"><%= notice %></p>
<h2><%= @user.possessive_name %> Profile</h2>

<% if current_user == @user %>
  <%= link_to 'Edit Profile', edit_user_path(current_user) %>
<% end %>

<p>
  <h4>Full name:</h4>
  <%= @user.full_name %>
</p>

<p>
  <h4>Major(s):</h4>
  <% for m in @user.majors %>
    <p><%= m.name %></p>
  <% end %>
</p>

<p>
  <h4>Minor(s):</h4>
  <% for m in @user.minors %>
    <p><%= m.name %></p>
  <% end %>
</p>

<p>
  <h4>Primary Role</h4>
    <p><%= @user.user_type.name %></p>
</p>

<p>
  <h4>Skills:</h4>
  <% for s in @user.skill_list %>
    <p><%= s %></p>
  <% end %>
</p>

<p>
  <h4>Interests:</h4>
  <% for i in @user.interest_list %>
    <p><%= i %></p>
  <% end %>
</p>

 
