<h2>Build Your Dream Team:</h2>
<div class="sixteen columns">

	<p>
	Place holder column for jqueryui filters and searches for users because yea.
	</p>
	<p>
	Selvage bicycle rights letterpress fixie next level street art. Food truck viral retro hella chillwave put a bird on it dreamcatcher, craft beer wayfarers etsy before they sold out raw denim bespoke. Gentrify marfa fap, shoreditch wolf selvage pour-over food truck pinterest yr seitan put a bird on it godard trust fund. 3 wolf moon wes anderson irony, godard mumblecore raw denim wolf hella vice chambray gastropub seitan. Quinoa flexitarian godard synth art party, put a bird on it post-ironic gastropub. Butcher hella twee, letterpress jean shorts keffiyeh banksy brooklyn 8-bit tattooed next level. Farm-to-table hella mustache, lomo quinoa next level PBR flexitarian pork belly freegan DIY artisan.
	</p>
	<p>
	Vinyl swag single-origin coffee aesthetic, sustainable mumblecore vice. Four loko small batch bicycle rights, narwhal godard street art DIY hella fanny pack. Yr farm-to-table banksy carles banh mi truffaut, art party raw denim flexitarian. Skateboard polaroid bespoke flexitarian. Fap typewriter pop-up occupy iphone hoodie, beard next level +1 pork belly wolf echo park gluten-free. Dreamcatcher letterpress vegan chillwave, Austin ethnic sustainable portland gentrify food truck tattooed wes anderson 3 wolf moon. Pour-over retro master cleanse thundercats, 3 wolf moon yr pop-up.
	</p>
</div>
<div class="thirteen columns alpha user-grid">
	<% UserType.all.each do |i| %>
		<% unless i.name == "Advisor" %>
			<h3 class='<%= i.name.downcase%> <% if(i.id == 1) %>first<% end %>'><%= i.getQuirkyName %></h3>
			
			<div class="clearfix <%= i.name.downcase%> user-box-wrap">
				<% get_user_type(i.id).reverse.each do |e| %>
					
					<div class='user-box'>
						<div class='top-box clearfix'>
							<div class='box-left'>
								<%= gravatar_for(e, 48) %>
							</div>
							<div class='box-right'>
								<div class='box-name clearfix'>
									<%= link_to e.full_name, user_path(e) %>
								</div>
								<% if(e.majors.length > 0) %>
									<div class='box-majors clearfix'>
										<ul>
											<% e.majors.each do |m| %>
												<li><%= m.name %></li>
											<% end %>
										</ul>
									</div>
								<% end %>
								
								<% if(e.minors.length > 0) %>
									<div class='box-minors'>
										<ul>
											<% e.minors.each do |m| %>
												<li><%= m.name %></li>
											<% end %>
										</ul>
									</div>
								<% end %>
								
								<% if(e.programs.length > 0) %>
									<div class='box-programs'>
											<ul>
												<% e.programs.each do |m| %>
													<li><%= m.name %></li>
												<% end %>
											</ul>
									</div>
								<% end %>
							</div>
						</div>
						<% if(e.skills.length > 0 || e.interests.length > 0) %>
							<div class='view-tooltip'>View More Info</div>
						<% end %>
						<div class='action-button-chill add-to-group'>Add to Group</div>
					</div>
					<div class='user-tooltip'>
						<% if(e.skills.length > 0) %>
							<div class='user-skills'>	
								<h4>Skills:</h4>
								<span class='one-tool'>
									<% if(e.skills.length > 1) %>
										<%= e.skills.join(', ') %>
									<% else %>
										<%= e.skills[0] %>
									<% end %>
								</span>
							</div>
						<% end %>

						<% if(e.interests.length > 0) %>
							<div class='user-interests'>
								<h4>Interests:</h4>
								<span class='two-tool'>
									<% if(e.interests.length > 1) %>
										<%= e.interests.join(', ') %>
									<% else %>
										<%= e.interests[0] %>
									<% end %>
								</span>
							</div>
						<% end %>
					</div>

				<% end %>
			</div>
		<%end%>
	<%end%>
	
</div>
<div class="three columns omega">
	<p>
		Place holder for current groups/startups the current user is in. The UI is trapped in my mind and I suck at sketching, but think buckets, and drag and drop, ala Google Plus circles.
	</p>
	<p>
	Whatever banh mi messenger bag lo-fi next level kale chips. Whatever hoodie forage VHS pitchfork, PBR locavore. Truffaut next level seitan fingerstache cardigan pop-up. Polaroid mustache fixie, typewriter you probably haven't heard of them single-origin coffee wayfarers. Carles chillwave seitan skateboard portland brunch mcsweeney's raw denim, synth mumblecore swag american apparel 3 wolf moon polaroid. Dreamcatcher blog mcsweeney's freegan viral fap messenger bag, trust fund carles sriracha forage brooklyn. Gentrify portland single-origin coffee, tumblr cred messenger bag semiotics.
	</p>
	<p>
Tofu lomo pop-up squid sriracha. High life squid helvetica, raw denim pitchfork viral iphone put a bird on it letterpress chillwave you probably haven't heard of them. Bicycle rights artisan kogi, gentrify direct trade gluten-free wayfarers narwhal keffiyeh mlkshk. Salvia aesthetic raw denim williamsburg echo park. Synth craft beer keytar, cliche sustainable Austin trust fund stumptown cray vinyl etsy lo-fi dreamcatcher. Next level brooklyn fixie, keffiyeh retro gentrify ethical 3 wolf moon vice salvia craft beer photo booth cardigan wolf. Mlkshk shoreditch PBR chambray keffiyeh cliche pork belly bespoke.
	</p>
</div>
